:root{
  --blueviolent:#8a2be2;
  --black:#000000;
  --white: #ffffff;
  --blue:#0000FF;
 --spacer:1rem;
}

html{
  background-color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
/*
0.25
0.5
1
1.5
3
*/
body {
  margin: 0;
  padding: 0;
}
.nav_mentorship{
padding-right: calc(var(--spacer)*1.5);
  color: var(--black);
}

.nav_mentorship:hover{
  color: var(--blueviolent);
}.nav_maincontainer{
  padding-top: calc(var(--spacer)*3);

  
  display: flex;
  justify-content:space-around;
}

.nav_secondarycontainer{
  padding-left: calc(var(--spacer)*3);
}

.nav_logo{
  width: 3.5rem; 
  height: 3.5rem;
  
}


.nav_sayhello {
  border-width:0.2rem;
  color: var(--blueviolent);
  border-style:solid ;
  border-color:var(--blueviolent);
  border-radius:3rem;
  padding: var(--spacer) var(--spacer) var(--spacer) var(--spacer);
}

.nav_sayhello:hover{
  color:var(--white);
  background-color:var(--blueviolent);
}

.centertext{
  text-align: center;
}

.header_title{ 
  color :var(--black);
  font-weight: bold ;
  font-size: xxx-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header_text{ 
  color:var(--black); 
  font-weight: lighter;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.body_avatar{
  margin-top: calc(var(--spacer)*3);
 
}

.body_computer{
  margin-top: calc(var(--spacer)*3);
}
.body_title_margin{
  margin-top: 0;
}
.body_purple_container{

  background-color:var(--blueviolent);
  text-align: center;

  color: var(--white);

}

.body_title{
  padding:  calc(var(--spacer)*3) calc(var(--spacer)*1.5) calc(var(--spacer)*1.5) calc(var(--spacer)*1.5) ;
  font-size: calc(var(--spacer)*1.5);
  font-weight: bolder;
}

.body_paragraph{
  font-size: calc(var(--spacer)*1.5);
  padding:calc(var(--spacer)*1.5) calc(var(--spacer)*1.5) calc(var(--spacer)*1.5) calc(var(--spacer)*1.5);
  font-weight:lighter;
  padding-bottom:28rem ;
}

.body_frontend_table{  
  position: relative;
  bottom:  15rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--white);
  text-align: center;
  border-radius: 1rem;
  padding: 3rem 3rem 3rem 3rem;
  border:0.05rem solid var(--blueviolent);
  
}


.body_frontend_table_title{  
  font-size:larger ;
  font-weight: bolder;
  padding: calc(var(--spacer)*3) calc(var(--spacer)*3) calc(var(--spacer)*3) calc(var(--spacer)*3);
}

.body_frontend_table_paragraph{  
  font-size: calc(var(--spacer)1.5);
  font-weight: lighter;
padding: var(--spacer) var(--spacer) var(--spacer) var(--spacer);
}

.body_frontend_table_semititels{
  color:var(--blueviolent);
  padding-bottom: calc(var(--spacer)*1.5);
}

.body_frontend_table_bottompadding{  
  padding-bottom: calc(var(--spacer)*3);
}

.footer_title{ 
  font-size: calc(var(--spacer)*1.5);
  font-weight:bolder;
}

.footer_link{ 
  color:var(--blueviolent);
}

.link_undecorated {
  font-size: larger;
  text-decoration: none ; 
}
   
.footer_text{
  color:var(--black);
  font-size: large;
  font-weight: bolder;
  padding-bottom: calc(var(--spacer)*3);
}

.footer_container_pic{
  display:flex;
  justify-content: space-evenly;
  
}
.footer_pics{
  
  width:30% ;height:30%;
  border-radius: calc(var(--spacer)*1.5);



}

.footer_pics:hover{  
  opacity:0.3; 
}

.footer_purple_container{
  margin-top: calc(var(--spacer)*3);
padding-top: calc(var(--spacer)*3);
padding-bottom: calc(var(--spacer)*3);
  background-color:var(--blueviolent);
  text-align: center;

  color: var(--white);

}
.footer_container_large_text{
  font-size: large;
  color: var(--white);
}
.footer_container_small_text{
  padding-top: calc(var(--spacer)*3);
  font-size: small;
  color: var(--white);
}
.footer_container_small_pic{
  width: 10%;
  height: auto;
}

   

